/**
** Utils
**/

// Font
.font {
  @for $i from 9 through 40 {
    &-#{$i} {
      font-size: #{$i}px;
    }
  }

  &-italic {
    font-style: italic;
  }
}

// Height
.h {
  &-full {
    height: 100vh;
  }

  &-100 {
    height: 100%;
  }
}

// Width
.w-100 {
  width: 100%;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
}

// TABLE
::v-deep .custom-table {
  background: transparent !important;
  border: none !important;
  border-collapse: collapse !important;

  > .v-data-table__wrapper > table {
    border: none !important;
    border-collapse: collapse !important;

    > thead > tr {
      th {
        border: none !important;
        color: #0d5ea8 !important;
        padding-top: 3px;
        padding-bottom: 3px;
        height: auto;
        white-space: nowrap;
      }
    }

    > tbody > tr {
      background-color: transparent !important;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02) !important;
      border: none !important;

      td {
        border: none !important;
      }
    }

    > body > tr:not(:last-child) {
      border-bottom: none !important;
    }
  }

  &.empty-with-dash {
    tbody {
      td:empty {
        &:before {
          content: '-';
        }
      }
    }
  }
}
